[Unit]
Description= Jenkins Cluster services for polar org
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory={{ Jenkins_Docker_root }}

# Compose up
ExecStart=/bin/docker-compose -f docker-compose.yml up

# Compose down, remove containers
ExecStop=/bin/docker-compose -f docker-compose.yml down --volumes

[Install]
WantedBy=multi-user.target